{% extends 'base.html.twig' %}

{% block title %}Gigs{% endblock %}

{% block body %}
    <h2>Let's have some fun!</h2>

    {% for gig in gigs %}
        <h4>{{ gig }}</h4>
        <p>
            <a href="{{ path('gig', { slug: gig.slug }) }}">View</a>
        </p>
    {% endfor %}
{% endblock %}
