{% extends 'band_layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="homepage-wrapper">
        <h1>Band Hompage</h1>

        <div class="tour-container">
            Your tour
        </div>
    </div>
{% endblock %}