{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="homepage-wrapper">
    <h1>Guest Hompage</h1>

    <div class="about-container">
        About section
    </div>

    <div class="explore-tiles">
        <div>Find a gig in your town!</div>
        <div>Explore bands and artists!</div>
    </div>

</div>
{% endblock %}
