{% extends 'base.html.twig' %}
{% block sidebar %}
    <aside class="sidebar">
        <ul>
            <li>Inbox</li>
            <li>Band Info</li>
            <li>Explore venues and promoters</li>
            <li>General settings</li>
        </ul>
    </aside>
{% endblock %}